body {
    background: #fff9ed;
}

/* --------------------------cabecalho-----------------------------*/
header {
    height: 50px;
    background: linear-gradient(85deg, #fda33a,#ed6a09);
    margin-bottom: 50px;
}

.inputPesquisa {
    width: 30%;
    padding: 5px 10px;
    font-size: 16px;
    font-family: inherit;
    box-shadow: 0 0 0 1px #e4e4e4;
    border: none;
    border-radius: 25px;
    background-color: #f5f5f5;
    transition: all .3s;
}

.inputPesquisa::placeholder {
    color: #686868;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.inputPesquisa:focus {
    outline: none;
    box-shadow: 0 0 10px 1px #9c9c9c;
    border: none;
    transition: all .3s;
}


#pesquisa {
    position: absolute;
    top: 10px;
    left: 35%;
}

.login {
    position: absolute;
    top: 20px;
    right: 30px;
    text-decoration: none;
    color: #fff9ed;
    font-family: 'Raleway', sans-serif;

}


/*-------------------------------produtos do inicio-------------------------------*/
.Image {
    width: 100%;
    border-radius: 5%;
}

.produtos {
    margin:  0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 70%;
}

.produtos li {
    text-align: center;
    box-sizing: border-box;
    height: 250px;
    width: 150px;
    vertical-align: top;
    margin: 10px 1.25%;
    background-color: rgb(245, 245, 245);
    border-radius: 5%;
    box-shadow: 3px 3px 4px rgb(63, 62, 62);
    transition: 100ms linear;
    
}


.produtos li:hover {
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    transform: scale(1.05);
}

.produtos li:active {
    transform: scale(1);
}
.descricao h2{
    padding: 20px 0 0 0;
    font-family: 'Noto Sans Kawi', sans-serif;
}


/* ----------------------------------rodape---------------------*/
footer {
    position: absolute;
    top: 79.5%;
    width: 100%;
    height: 200px;
    background-color: #9c3f10;
}

/*--------------------------------login ---------------------------*/
.fundoDoLogin {
    background-color: #0c192c;
}

form {
    padding-bottom: 50px;
}

.container {
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5cdcd;
    height: auto;
    width: auto;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #e78719;
    padding-bottom: 50px;
}

.title {
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

.sub_title {
    font-weight: 600;
    margin: 5px 0;
}

.form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
}

.form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 10px;
    font-size: 15px;
}

.form_style:focus,
.btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
}

.btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #DE5499;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #E99F4C;
}

.btn:hover {
    opacity: .9;
}

.link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
}
/*---------------Especificação dos produtos---------------*/
.imagenProduto{
    width: 27%;
    margin: 0 0 0 250px;
}